.c-flex {
  --c-flex-gap: 10px;
  display: flex;
  min-width: 0;
  gap: var(--c-flex-gap);
}

.c-flex > * {
  min-width: 0;
}

.c-flex--gap-xs {
  --c-flex-gap: 4px;
}

.c-flex--gap-none {
  --c-flex-gap: 0;
}

.c-flex--gap-sm {
  --c-flex-gap: 7px;
}

.c-flex--gap-md {
  --c-flex-gap: 10px;
}

.c-flex--gap-lg {
  --c-flex-gap: 16px;
}

.c-flex--gap-xl {
  --c-flex-gap: 24px;
}

.c-flex--row {
  flex-direction: row;
}

.c-flex--column {
  flex-direction: column;
}

.c-flex--wrap {
  flex-wrap: wrap;
}

.c-flex--full {
  width: 100%;
}

.c-flex--align-start {
  align-items: flex-start;
}

.c-flex--align-center {
  align-items: center;
}

.c-flex--align-end {
  align-items: flex-end;
}

.c-flex--align-stretch {
  align-items: stretch;
}

.c-flex--align-baseline {
  align-items: baseline;
}

.c-flex--justify-start {
  justify-content: flex-start;
}

.c-flex--justify-center {
  justify-content: center;
}

.c-flex--justify-end {
  justify-content: flex-end;
}

.c-flex--justify-between {
  justify-content: space-between;
}

.c-flex--justify-around {
  justify-content: space-around;
}

.c-flex--justify-evenly {
  justify-content: space-evenly;
}

@media (max-width: 760px) {
.c-flex--responsive.c-flex--row {
    flex-direction: column;
  }
}
